/* .productList{
    
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    
    flex-direction: column;
    
    test

    flex: 2 1 auto;
    
    
}
.shop-product-img img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    vertical-align: middle;
}

h1{
    text-align: center;
    font-size: xxx-large;
}  */

.split {
    height: 100%;
    width: 80%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.split.left {
    padding-top: 12em;
}

.productList {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 0.21fr 0.21fr 0.21fr 0.21fr;
}

.shop-product {
    width: 95%;
    height: 90%;
    float: left;
}

.shop-product-title {
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    /* margin-bottom: 0.75rem; */
}

.shop-product-img img {
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    vertical-align: middle;
}

.shop-product-price {
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
    /*padding-right: 1.2em;*/
    text-align: left;
}

h1 {
    text-align: center;
    font-size: largr;
}

.shop-product {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    padding: rem;
    border-radius: 0.25rem;
    text-align: center;
    margin: 1rem;
    overflow: hidden;
}

.shop-product-units {
    text-align: left;
    font-size: medium;
    margin-left: 10px;
}

.productBasketDiv {
    padding-top: 1rem;
    padding-bottom: 2rem;
    /*background: rgb(6, 212, 248);*/
}

.adjustDiv {
    margin-top: 1rem;
    width: 100%;
    margin-left: 10px;
    text-align: start;
}

.adjustDiv .buyInput {
    width: 50px;
    -moz-appearance: textfield;
}

.addToBasket {
    background: var(--colour-3);
    color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    display: flex;
    padding: 0.5em 0.75em;
    margin-left: 10px;
    border-radius: 0.25em;
    left: 10rem;
    cursor: pointer;
}

.addToBasket:hover,
.addToBasket:focus {
    /* box-shadow: 2px 2px 10px var(--colour-2); */
    background: hsl(0, 1%, 40%);
}

.adjustDown {
    background: none;
    border: 1px solid hsl(200, 50%, 50%);
    color: hsl(200, 50%, 50%);
    font-size: 1.25rem;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
}

.adjustDown:hover,
.adjustDown:focus {
    background: hsl(200, 50%, 90%);
}

.adjustUp {
    background: hsl(200, 50%, 50%);
    color: white;
    border: none;
    font-size: 1.25rem;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
}

.adjustUp:hover,
.adjustUp:focus {
    background: hsl(200, 50%, 60%);
}

.shop-product-details.shop-product-img {
    overflow: hidden;
}

.shop-product-details.shop-product-img>img {
    display: block;
    border-radius: 0.15em;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0.5rem;
    transition: 200ms transform ease-in-out;
}

.shop-product-details:hover>.shop-product-details.shop-product-img>img {
    transform: scale(1.025);
}

.hero {
    top: 2em
}

.hero div.title {
    font-size: 4rem;
}

html {
    --hero-height: 7em;
    --colour-1: hsl(var(--colour-1-h), var(--colour-1-s), var(--colour-1-l));
    --colour-2: hsl(var(--colour-2-h), var(--colour-2-s), var(--colour-2-l));
    --colour-3: hsl(var(--colour-3-h), var(--colour-3-s), var(--colour-3-l));
    --colour-4: hsl(var(--colour-4-h), var(--colour-4-s), var(--colour-4-l));
    --colour-5: hsl(var(--colour-5-h), var(--colour-5-s), var(--colour-5-l));
    --colour-6: hsl(var(--colour-6-h), var(--colour-6-s), var(--colour-6-l));
    --colour-7: hsl(var(--colour-7-h), var(--colour-7-s), var(--colour-7-l));
}


/*Search Bar Stuff*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
}


/* body{
  background: #fc913a;
  font-family: Roboto;
} */

.search-wrapper {
    position: fixed;
    top: 12rem;
    right: 30px;
    width: 20%;
    /* padding-right: 1em; */
    /* transform: translate(-50%, -50%); */
}

.search-container {
    position: relative;
    /* padding: 20px 50px; */
}

.input {
    width: calc(100% - 67px);
    border: 3px solid var(--colour-5);
    background: transparent;
    padding: 15px 30px;
    border-radius: 50px 0px;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(0, 0, 0);
    font-family: Roboto;
    text-transform: uppercase;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(0, 0, 0);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(0, 0, 0);
}

#searchbutton2 {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #ffffff;
    background: var(--colour-5);
    border: 0px;
    width: 30%;
    height: 100%;
    border-radius: 50px 0px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
}


/* BASKET STUFF */

.checkoutList {
    width: 50%;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.checkoutList {
    text-align: center;
}

.checkoutList tr td:nth-child(5) {
    font-weight: bold;
}

.checkoutList tr:last-child {
    font-weight: bold;
}

.checkoutList tr:last-child td:first-child {
    text-align: right;
}

#addShoppingBasket {
    margin-right: 30px;
    position: fixed;
    right: 0%;
    width: calc(20% - 6px);
    border: 3px solid var(--colour-3);
    float: right;
    border-radius: 5px;
}

#basketButton {
    background-color: var(--colour-3);
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 75%;
    display: flex;
    padding: 0.2em 0.1em;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#addShoppingBasket a {
    font-size: 1.5em;
    color: white;
}

#addShoppingBasket h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
    background-color: var(--colour-3);
}

.clearButton {
    color: var(--colour-3);
    background-color: white;
    border: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 45%;
    display: flex;
    padding: 0.2em 0.1em;
    margin-top: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.clearButton:hover,
.clearButton:focus {
    /* box-shadow: 2px 2px 10px var(--colour-2); */
    background: hsl(0, 1%, 40%);
    color: white;
}


.shoppingBasket {
    width: 100%;
}

.shoppingBasket th {
    font-size: 1vw;
    text-align: start;
}

.shoppingBasket td {
    font-size: 1vw;
    padding-left: 4px;
    text-align: start;
}

.shopping .shoppingBasket {
    text-align: center;
}

.bordered {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    overflow: hidden;
}


/* CHECKOUT STUFF */

#checkout-body {
    margin-top: 10em;
}